.skjult {
  /* display: none;
    transform: scale(0); */
  transform: translateX(-100);
  opacity: 0;
  display: none;
}

#menuknap {
  display: inline-block;
  z-index: 2;
}

.menuknap.open .burger,
.menuknap:not(.open) .close {
  display: none;
}

#menu {
  list-style: none;
  transition: transform 3s;
  transform-origin: top left;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #e35f59;
  z-index: 1;
  /* padding-left: 7rem;
    padding-top: ; */
}

#nav_ {
  display: grid;
  justify-content: center;
}

.forside_knap {
  background-color: var(--primary-buttoncolor);
}

#menuknap {
  background: none;
  border: none;
  color: var(--primary-burgermenu);
}

#menuknap h1 {
  font-size: 5rem;
}

.program_header {
  display: grid;
  justify-content: space-between;
}

#knap_wrap {
  padding-top: 3rem;
}

@media (min-width: 1024px) {
  #menu {
    list-style: none;
    transition: transform 3s;
    transform-origin: top left;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    width: 50%;
    background-color: #f3b453;
    z-index: 1;
    /* padding-left: 7rem;
          padding-top: ; */
  }
}
