:root {
  /* bagrundsfarver */
  --primary-bgcolor: #f3b453;
  --secondary-bgcolor: #203e68;

  /* menu-baggrundsfarver */
  --primary-menucolor: #e35f59;
  --secondary-menucolor: #203e68;
  --third-menucolor: #f3b453;

  /* burgermenu-ikon-farve */
  --primary-burgermenu: #f6f56c;

  /* gradientfarver */
  --primary-gradientcolor: #e35f59;
  --seconday-gradientcolor: #f3b453;

  /* knap-farver */
  --primary-buttoncolor: #f6f56c;
  --secondary-buttoncolor: #f3b453;
  --third-buttoncolor: #e35f59;

  /* links footer */
  --primary-a: #f9f9f9;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: underline;
}

a:hover footer {
    transform: scale(0.5);
}

.knap {
    border: none;
    border-radius: none;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* .knap:hover {
    animation: shake 1.5s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
} */

.knap:hover {
    -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

  
@-webkit-keyframes wiggle {
    0% {
      -webkit-transform: rotate(5deg);
    }
    25% {
      -webkit-transform: rotate(-5deg);
    }
    50% {
      -webkit-transform: rotate(10deg);
    }
    75% {
      -webkit-transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(-5deg);
    }
  }
  
  @-ms-keyframes wiggle {
    0% {
      -ms-transform: rotate(1deg);
    }
    25% {
      -ms-transform: rotate(-1deg);
    }
    50% {
      -ms-transform: rotate(1.5deg);
    }
    75% {
      -ms-transform: rotate(-5deg);
    }
    100% {
      -ms-transform: rotate(0deg);
    }
  }
  
  @keyframes wiggle {
    0% {
      transform: rotate(5deg);
    }
    25% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(10deg);
    }
    75% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(-5deg);
    }
  }


/* VIEWPORT */

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1280px) {}

@media (min-width: 1538px) {}
