:root {
  /* bagrundsfarver */
  --primary-bgcolor: #f3b453;
  --secondary-bgcolor: #203e68;
  --third-bgcolor: #e35f59;

  /* menu-baggrundsfarver */
  --primary-menucolor: #e35f59;
  --secondary-menucolor: #203e68;
  --third-menucolor: #f3b453;

  /* burgermenu-ikon-farve */
  --primary-burgermenu: #f6f56c;

  /* gradientfarver */
  --primary-gradientcolor: #e35f59;
  --gradient-01: #d66e5e;
  --gradient-02: #d8765f;
  --gradient-03: #da7f5f;
  --gradient-04: #dc8660;
  --gradient-05: #de8d60;
  --gradient-06: #e19661;
  --seconday-gradientcolor: #f3b453;

  /* knap-farver */
  --primary-buttoncolor: #f6f56c;
  --secondary-buttoncolor: #f3b453;
  --third-buttoncolor: #e35f59;

  /* links footer farver */
  --primary-a: #f9f9f9;
  --secondary-a: #f6f56c;

  /* fonte */
  --h1--: "inter", sans-serif;
  --h2--: "inter", sans-serif;
  --h3--: "inter", sans-serif;
  --h4--: "inter", sans-serif;
  --p--: "inter", sans-serif;
  --a--: "inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

/*** fonte ***/
h1 {
  font-size: clamp(2.5rem, 2.3896rem + 0.552vw, 3.052rem);
  font-family: var(--h1--);
}

h2 {
  font-size: clamp(2rem, 1.9118rem + 0.44099999999999984vw, 2.441rem);
}

h3 {
  font-size: clamp(1.5rem, 1.4094rem + 0.4530000000000001vw, 1.953rem);
  font-family: var(--h3--);
}

h4 {
  font-size: clamp(1.3rem, 1.2474rem + 0.2629999999999999vw, 1.563rem);
  font-family: var(--h4--);
}

p,
a {
  font-size: clamp(0.8rem, 0.76rem + 0.19999999999999996vw, 1rem);
  font-family: var(--p--);
}

a {
  text-decoration: underline;
}

a .knap {
  font-size: clamp(0.9rem, 0.86rem + 0.2000000000000001vw, 1.1rem);
}

footer a:hover,
footer li:hover {
  scale: 1.2;
  transition: all ease-in 0.1s;
}

.link {
  padding: none;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  box-shadow: none;
}

.knap {
  border: none;
  border-radius: none;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.knap:hover {
  animation-name: wiggle;
  -ms-animation-name: wiggle;
  animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(5deg);
  }
  25% {
    -webkit-transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
  }
  75% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-5deg);
  }
}

@-ms-keyframes wiggle {
  0% {
    -ms-transform: rotate(1deg);
  }
  25% {
    -ms-transform: rotate(-1deg);
  }
  50% {
    -ms-transform: rotate(1.5deg);
  }
  75% {
    -ms-transform: rotate(-5deg);
  }
  100% {
    -ms-transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-5deg);
  }
}

/* VIEWPORT */

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1538px) {
}
